<!DOCTYPE html>
<html>

  <head>
    <% include ../partials/head.ejs %>
  </head> 
  <body>
    
    <nav>
      <% include ../partials/nav.ejs %>
    </nav>
    <div class ='container info-box info-cube'>
      <div class= 'centered'>
        <table class="responsive-table centered profile-table">
          
          <tbody>
            <tr>
              <td><h3>Hey<br> <%= user.first_name %>!</h3></td>
              <td><img class='img-container' src='<%= user.image_url %>' alt=''></td>
            </tr>
            <tr>
              <td>First Name:</td>
              <td><%= user.first_name %></td>
            </tr>
            <tr>
              <td>Last Name:</td>
              <td><%= user.last_name %></td>
            </tr>
            <tr>
              <td>Age:</td>
              <td><%= user.age %></td>
            </tr>
          </tbody>
        </table>
      </div>  

        <br>
      <a href= "/users/<%= user._id %>/edit"><button class="btn waves-effect waves-light edit-button col s4 m2 l2 offset-l4" type="submit" name="action" value="Edit">Edit
      </button></a>
        
    </div>
  <footer>
    <% include ../partials/footer.ejs %>
  </footer>

  </body>
</html>
